{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <span style="float:right; margin: 10px;">
            {% if not app.user %}
            <a href="{{url ('fos_user_security_login') }}">login</a> /
            <a href="{{ url('fos_user_registration_register') }}">register</a>
            {% endif %}

            {% if app.user %}
                Hi {{ user.username }}, <a href="{{url ('fos_user_security_logout') }}">logout</a>
            {% endif %}
        </span>
        <div id="container">
            <div id="welcome">
                <h1 style="color:#38528b;">wikitodos</h1>
            </div>

            <div id="status">
            <div>
                Todo lists should be reusable. Start searching for already-made <em>todos</em>...
           </div>
                <form id="searchform" action="/search" method="POST">
                <button type="submit" value="Find" style="float: right; background-color:gray; color:white;" /> Search</button> 
                <div style="overflow: hidden; padding-right: .5em;">
                   <input type="text" id='search' name='search' placeholder="Example: Beach, Spaghetti"style="width: 100%;" autofocus/>
                </div>
                </form>
            </div>

            <div id="results">

            </div>

        </div>
    </div>


{% endblock %}

{% block stylesheets %}
<style>
    body {
        padding-top: 100px;
        background: url("images/background.jpg") no-repeat;
        background-size: 100%;
        font-family: 'Open Sans', sans-serif;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        body {
            background: url("images/background.jpg") no-repeat;
            background-size: 100%;
        }
    }
    li :active { text-decoration: line-through; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; opacity: 0.8; border-radius: 2px;}
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>

<link rel="stylesheet" type="text/css" href="{{ asset('css/custom.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bower_components/horsey/dist/horsey.css') }}">
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bower_components/horsey/dist/horsey.min.js')}}"></script>

<script   src="{{ asset('bower_components/jquery/dist/jquery.min.js')}}"   crossorigin="anonymous"></script>


<script type="text/javascript">
    
horsey(document.querySelector('input'), {
  source: [{ list: [
    {% for todo in todos %}
    { value: '{{todo.id}}', text: '{{todo.name}}' },
    {% endfor %}
  ]}],
  getText: 'text',
  getValue: 'value',
  predictNextSearch(info) {
     //get the suggestion selected by the user
     // console.log(info.selection.value);
     $('#search').attr("value", info.selection.value);
  }
});


$('#searchform').on('submit', function(event) {
  var search_value = $('#search').attr('value');
  var $form = $(this);
  $.ajax({
  type: $form.attr('method'),
  url: $form.attr('action'),
  data: {'search': search_value},
  success: function(data, status) {
      $('#results').html(data);
    }

  });

event.preventDefault();

});

$("body").on("click", "li", function(){
  var val = $(this).attr("data-clicked");
    if (val == 'true') {
      $(this).css("text-decoration", "none");
      $(this).attr('data-clicked','false');
    } else {
      $(this).css("text-decoration", "line-through");
      $(this).attr('data-clicked','true');
    }
});

$("body").on("click","#add_list",function(e) {
  var todo_id = $(this).attr('data-todo_id');

  $.ajax({
      url: '/add',
      type: 'post',
      data: {'todo_id': todo_id},
      success: function( data, status ){
          alert(data);
      }
  });

});

</script>

{% endblock %}

